@import "_normalize.scss";

.panels {
    display: flex;
    justify-content: space-between;
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.185);
    color: #ffffff;
    min-height: 100vh;
    overflow: hidden;
}

.panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;


    &.open{
        font-size: 3rem;
        flex: 1.5;
    }

    :first-child{
        transform: translateY(-500%);
    }
    :last-child{
        transform: translateY(500%);
    }
    &.open-active > {

        :first-child{
            transform: translateY(0);
        }
        :last-child{
            transform: translateY(0);
        }
    }  
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }