@import "_normalize.scss";

.panels {
    display: flex;
    justify-content: space-between;
    font-family: 'Antonio', sans-serif;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.185);
}

.panel {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    flex: 1;
}